<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <div class="container">
        <%if(messages.success){%>
            <h3><%= messages.success%></h3>
        <%}%>
        <a href="/"><i class="ri-arrow-left-line"></i>Go to The Homepage</a>
        <div class="mainsection">
            <div class="left">
                <div id="prfimage" class="image">
                    <form style="display:none" id="imageform" action="/upload" enctype="multipart/form-data" method="post">
                        <input id="imageinput" type="file" name="image" id="">
                    </form>
                    <img src=<%= details.proimage %> alt="">
                    <div class="overlayimg">
                        <i class="ri-add-circle-line"></i>
                    </div>
                </div>
                
                <div class="text">
                    <h2><%= details.name %></h2>
                    <h4><%= details.email %></h4>
               
                <div class="prflicons">
                    <a href=<%=`/update/${details.id}`%>><i class="ri-pencil-line"></i>Edit Profile</a>
                    <a href="/writepost"><i class="ri-add-circle-line"></i>New Post</a>
                </div>
                </div>
            </div>
            <div class="right">
                <h1>All Posts</h1>
                <form action="/uploadpost" method="post">
                    <textarea name="post" id="postfeild" placeholder="Write Some Thing ..."></textarea>
                    <button type="submit">Post It</button>
                </form>
            </div>
        </div>       
    </div>
    <script>
        var prfimage=document.querySelector('#prfimage');
        var imageform=document.querySelector('#imageform');
        var imageinput=document.querySelector('#imageform input')
        prfimage.addEventListener('click',()=>{
            imageinput.click();
        })
        imageinput.addEventListener('change',()=>{
            imageform.submit();
        })
    </script>
</body>
</html>